.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.seçao {
    display: grid;
    gap: 16px;
}

.titulo-seçao {
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--cor-cartao);
}

.cartao--destaque {
    margin-bottom: 16px;
}

.cartao__conteudo {
    padding: 16px;
    display: grid;
    gap: 1.3rem;
    grid-template-columns: auto 1fr;
}

.cartao__destaque {
    grid-column: span 2;
}

.cartao__titulo {
    grid-column: span 2;
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao__perfil {
    grid-column: span 2;
    color: var(--cor-fonte-alternativa);
    font-size: 0.9rem;
}

.cartao__info {
    display: flex;
    align-items: center;
    color: var(--cor-fonte-alternativa);
}

.cartao__info--tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao__info--visualizaçao::before {
    content: "\e90f";
    margin-right: 8px;
}

.cartao__botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-botao);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao__botao--play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}

.cartao__info--dinheiro::before {
    content: "\e905";
    margin-right: 8px;
}

.cartao__botao--compra::before {
    content: "\e901";
    font-size: 24px;
}

.cartao--recentes {
    display: none;
}

.cartao__imagem--desktop {
    display: none;
}

@media screen and (min-width: 1440px) {
    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina"
            "destaque-video destaque-video videos-recentes"
            "seçao-videos seçao-videos seçao-videos"
            "produtos-recentes destaque-produtos destaque-produtos"
            "seçao-produtos seçao-produtos seçao-produtos"
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    .cartao--destaque {
        margin-bottom: 0;
    }

    .cartao__botao--destaque {
        grid-column: auto;
        padding: 16px 8px;
    }

    .cartao--recentes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        align-self: flex-start;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
    }

    .cartao--recentes .cartao__titulo {
        grid-column: auto;
    }

    .cartao__link {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--cor-links);
        justify-self: flex-end;
    }

    .cartao__lista {
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil {
        font-size: 0.8rem;
        color: var(--cor-fonte-alternativa);
    }

    .destaque-video {
        grid-area: destaque-video;
    }

    .videos-recentes {
        grid-area: videos-recentes;
    }

    .seçao {
        grid-template-columns: repeat(4, 1fr);
    }

    .titulo-seçao {
        grid-column: span 4;
    }

    .seçao-videos {
        grid-area: seçao-videos;
    }

    .destaque-produtos {
        grid-area: destaque-produtos;
    }

    .produtos-recentes {
        grid-area: produtos-recentes;
    }

    .seçao-produtos {
        grid-area: seçao-produtos;
    }

    .cartao__imagem--mobile {
        display: none;
    }

    .cartao__imagem--desktop {
        display: block;
    }
}