@import url("root.css");
@import url("header.css");
@import url("cartao.css");

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Open Sans', 'icones', sans-serif;
    color: var(--cor-fonte);
}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}